<section id="users">
  <div class="container">
    <div class="page-title">
      <h2>Users</h2>
      <hr class="col-4">
      <form [formGroup]="formUserList">
        <input type="text" #filterUsers formControlName="filterUsers" class="form-control col-3" placeholder="Filter table content">
      </form>
    </div>
    <div class="row">
      <table class="table">
        <thead class="thead-light">
          <th>Username</th>
          <th>Name</th>
          <th>E-mail</th>
          <th>City</th>
          <th>Ride in group</th>
          <th>Day of the week</th>
          <th>Posts</th>
          <th>Albums</th>
          <th>Photos</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let user of filter(userService.lUser)">
            <td>{{user.username}}</td>
            <td>{{user.name}}</td>            
            <td><a href="mailto:{{user.email}}" target="_top">{{user.email}}</a></td>
            <ng-template [ngIf]="user.address.geo.lat" [ngIfElse]="wsGeo">
                <td><a href="http://maps.google.com/maps?q={{user.address.geo.lat}},{{user.address.geo.lng}}" target="_blank">{{user.address.city}}</a></td>
            </ng-template>
            <ng-template #wsGeo>
                <td>{{user.address.city}}</td>
            </ng-template>
            <td>{{user.ride}}</td>
            <td>{{user.daysOfWeek}}</td>
            <td>{{user.posts.length}}</td>
            <td>{{user.albums.length}}</td>
            <td>{{numberPhotos(user)}}</td>
            <td>
              <button type="button" class="btn btn-secondary btn-sm" (click)="delete(user)">
                <i class="far fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>