.page-title {
    margin: 3rem 0 2rem 0;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.page-title hr {
    border-bottom: solid .2rem #F1F1F1;
    margin: 0 4rem;
    font-size: 2rem;    
}

.page-title h2 {
    font-weight: 400;
    font-size: 2rem;
}

.page-title .form-control {
    float: right;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 0.5rem;
    text-align: left;
  }
  tbody tr:nth-child(even) {
    background: #eee;
  }

  .btn-sm {
    background-color: transparent;
    width: 30px;
  }

  .btn-sm:hover {
    cursor: pointer;
  }

  .btn-sm i {
    color: #1ABC9C;
    display: none;
  }

  table tbody tr:hover {
    background-color: #dcdcdc;
  }

  table tbody tr:hover .btn-sm i {
    display: block !important;
}