<header>
  <div class="container">
    <div class="row">
      <div class="logo">
        <i class="fas fa-volleyball-ball md"></i>
        <h1>{{ title }}</h1>
      </div>
      <div class="account">
        <ul>
          <li class="avatar">GM</li>
          <li class="name">
            <a href="#">Geisiele Medeiros
              <i class="fas fa-angle-down"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<nav class="breadcrumb">
  <div class="container">
    <div class="row">
      <ul>
        <li>
          <a href="#">
            <i class="fas fa-home"></i>
          </a>
        </li>
        <li>
          <a href="#">Page Name</a>
        </li>
        <li>
          <a href="#">Breadcrumb</a>
        </li>
        <li>Current page</li>
      </ul>
    </div>
  </div>
</nav>
<section id="sport-details">
  <div class="container">
    <div class="row">
      <div class="item">
        <i class="fas fa-puzzle-piece"></i>
        <div class="text">
          <span>Sport type</span>
          <p>Cycling</p>
        </div>
      </div>
      <div class="item">
        <i class="fas fa-trophy"></i>
        <div class="text">
          <span>Mode</span>
          <p>Advanced</p>
        </div>
      </div>
      <div class="item">
        <i class="fas fa-map-signs"></i>
        <div class="text">
          <span>Route</span>
          <p>30 miles</p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-users-list></app-users-list>
<app-register-form></app-register-form>