<section id="register">
  <div class="container">
    <div class="page-title cl">
      <h2>Registration</h2>
      <hr class="col-6">
    </div>
    <div class="row">
      <div class="registration-items col-6 cl">
        <div class="item col-2">
          <h3>Need help?</h3>
          <i class="far fa-life-ring"></i>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
        </div>
        <div class="item col-2">
          <h3>Why register?</h3>
          <i class="fas fa-heartbeat"></i>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
        </div>
        <div class="item col-2">
          <h3>What people are saying...</h3>
          <i class="far fa-smile"></i>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5 form">
        <form>
          <div class="row">
            <div class="col-2">
              <div class="input">
                <span>Username</span>
                <input type="text">
                <div class="message">Instructions to show on input focus.</div>
              </div>
              <div class="input">
                <span>Name</span>
                <input type="text">
              </div>
              <div class="input">
                <span>E-mail</span>
                <input type="text">
              </div>
            </div>
            <div class="col-3">
              <div class="input">
                <span>City</span>
                <input type="text">
              </div>
              <div>
                <span>Ride in group?</span>
                <label>Always
                  <input type="radio" checked="checked">
                  <span class="check"></span>
                </label>
                <label>Sometimes
                  <input type="radio">
                  <span class="check"></span>
                </label>
                <label>Never
                  <input type="radio">
                  <span class="check"></span>
                </label>
              </div>
              <div>
                <span>Days of the week</span>
                <label>Sun
                  <input type="checkbox" checked="checked">
                  <span class="check"></span>
                </label>
                <label>Mon
                  <input type="checkbox">
                  <span class="check"></span>
                </label>
                <label>Tue
                  <input type="checkbox">
                  <span class="check"></span>
                </label>
                <label>Wed
                  <input type="checkbox">
                  <span class="check"></span>
                </label>
                <label>Thu
                  <input type="checkbox">
                  <span class="check"></span>
                </label>
                <label>Fri
                  <input type="checkbox">
                  <span class="check"></span>
                </label>
                <label>Sat
                  <input type="checkbox">
                  <span class="check"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="row actions">
            <button class="save" (click)="recriaForm()" type="submit">Save</button>
            <button type="submit">Discard</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>